body {
  margin: 1em;
}

.first {
  height: 69.31em;
  background-color: #3B495B;
}

.topblue {
  height: 3em;
  background-color: #1096C7;
}

h1 {
  color: #FFFFFF;
  text-align: center;
  padding-top: 5em;
  width: 13em;
  margin: 0 auto;
  padding-bottom: 1.5em;
}

h2 {
  font-size: .8em;
  align-content: center;
  color: #FFFFFF;
  width:19em;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 3em;
}

.topbox {
  margin: 0 auto;
  text-align: center;
  border: solid .5em;
  border-color: black;
  height: 3.1em;
  width: 13em;
  background-color: #1A95D1;
  line-height: 3.1em;
}

.smallbox {
  margin: 13em auto 8.375em;
  height: 1.3em;
  width: 3em;
  background-color: #FFFFFF;
}

.tripbox {
  margin: 0 auto 2em;
  height: 4.31em;
  width: 18.94em;
  background-color: #FFFFFF;

}

.space1 {
  height: 12em;
  background-color: #EBF2F6;
}

.wboxes {
  height: 97em;
  background-color: #D7D8DC;
  padding-top: .1em;
}

.whitebox {
  height: 15em;
  background-color: #FFFFFF;
  width: auto;
  margin: 1em .5em;
}

.bluebox {
  border: solid #EBF2F6;
  border-top-width: 6.125em;
  margin: 0 auto;
  text-align: center;
  height: 3.1em;
  width: 13em;
  background-color: #1A95D1;
  line-height: 3.1em;
}

footer {
  text-align: center;
  font-size: .5em;
  height: 14em;
  background-color: #000000;

}

.topfoottext {
  margin: 0 auto;
  padding-top: 2.75em;
  color: #FFFFFF;

}

.botfoottext {
  color: #FFFFFF;
  padding-top: 2em;
  padding-bottom: 3em;
}


a {
  padding-right: 1em;
  text-decoration: none;
}

.bottomwb {
  margin:0 auto;
  height: 1.5em;
  width: 8.5em;
  background-color: #FFFFFF;

}
